<div class="col s12" style="height: 90%">
<div class="col l6 offset-l6 s12">
  <h1>
    <%= @subject.subject_name %>
  </h1>
</div>

<div class="col l6 offset-l6 s12" style="float: inherit;">
  <%= link_to 'Edytuj', edit_subject_path(@subject), :class => "btn" %>
  <%= link_to 'Usuń', @subject, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
  <%= link_to 'Powrót', subjects_path, :class => "btn" %>
</div>

</div>

<div class="col s12" style="background:white; margin-bottom: 70px;">
  <div class="col s10 offset-s1 center-align">
    <h2 id="namme" style="color:#000; margin: 0;padding: 30px 0">
      Charakterystyka przedmiotu
    </h2>
  </div>
</div>

<div class="col s8 offset-s2" style="background: white; color: black; margin-bottom: 30px;">

    <%= raw(@subject.description) %>
</div>

<script>
$( document ).ready(function() {
  setTimeout(function(){
    $('html, body').animate({
        scrollTop: $("#namme").offset().top
    }, 2000);
  }, 1000);
});
</script>
