<p>
  <strong>Subject name:</strong>
  <%= @subject.subject_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @subject.type.type_name if @subject.type %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %>
<%= link_to 'Destroy', @subject, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', subjects_path %>

<div style="width:100%;height:1000px;background:white;">
  <h1 id="namme" style="margin-top: 800px;">asd</h1>
</div>

<script>
$( document ).ready(function() {
  setTimeout(function(){
    $('html, body').animate({
        scrollTop: $("#namme").offset().top
    }, 2000);
  }, 1000);
});
</script>
