<!DOCTYPE html>
<html lang ="pl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>EPI</title>
      	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <!--Import Google Icon Font-->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,500,700' rel='stylesheet' type='text/css'>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
  	<p class="alert alert-success"><%= notice %></p>
  	<% end %>
  	<% if alert %>
  	<p class="alert alert-danger"><%= alert %></p>
  	<% end %>
    <%= render "home/navbar_index" %>
    <div id="logo" style="height: 580px;">
    <div class="container">
    <div class="row">
<%= yield %>
</div>
</div>
</div>
<div class="divider"></div>

</body>
</html>
